{% extends 'alarm_log/base.html' %}
{% load widget_tweaks %}
{% block content %}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Журнал отключений</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="box-footer clearfix" style="padding-bottom: 20px; ">
          <a href="{% url 'apps:alarm_log:shutdown_create' %}" class="btn btn-default btn-flat btn-block">
              <button type="submit" class="btn btn-primary">Создать отключение</button>
          </a>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" style="width: 1400px" width="100%" cellspacing="0">
              <thead>
                <tr>
                    <th>Вид отключений</th>
                    <th>Адрес</th>
                    <th>Регион</th>
                    <th>Период отключения</th>
                    <th>Описание</th>
                    <th>Статус</th>
                    <th>Действие</th>
                </tr>
              </thead>
              <tbody>
                  {% for shutdown in shutdown_list %}
                      <tr>
                          <td>{{shutdown.shutdown_type.name}}</td>
                          <td>{{shutdown.address}}</td>
                          <td>{{shutdown.region}}</td>
                          <td>{{shutdown.shutdown_periods_from}}{{ shutdown.shutdown_periods_to }}</td>
                          <td>{{shutdown.сause}}</td>
                          <td>{{shutdown.status.name}}</td>
                        <td><button class="btn"><a href="{% url 'apps:alarm_log:shutdown_delete' shutdown.id %}"><i class="fa fa-trash"></i></a>
                        </button>
                        </td>
                        <td><button class="btn"> <a href="{% url 'apps:alarm_log:shutdown_update' shutdown.id %}"><i class="fa fa-edit"></i></a>
                                        </button>
                          </td>
                      </tr>
                  {% endfor %}
              </tbody>
            <div class="row" style="width: 400px;">
                  <div class="col-md-12">
                      <div class="box" >
                          <div class="box-header with-border">
                              <h3 class="box-title">Фильтр</h3>
                          </div>
                          <form class="form-inline">
                              <div class="box-body">
                                      <div class="form-group">
                                        <label>{{ filter_form.shutdown_type.label }}</label>
                                        {% render_field filter_form.shutdown_type class="form-control" %}
                                      </div>
                                      <div class="form-group">
                                        <label>{{ filter_form.region.label }}</label>
                                        {% render_field filter_form.region class="form-control" %}
                                      </div>
                                      <div class="form-group">
                                        <label>{{ filter_form.status.label }}</label>
                                        {% render_field filter_form.status class="form-control" %}
                                      </div>
                                      <div class="form-group">
                                        <label>{{ filter_form.created_by.label }}</label>
                                        {% render_field filter_form.created_by class="form-control" %}
                                      </div>
                                      <div class="form-group">
                                        <label>{{ filter_form.shutdown_periods_from.label }}</label>
                                        {% render_field filter_form.shutdown_periods_from class="form-control" %}
                                      </div>
                                      <div class="form-group">
                                        <label>{{ filter_form.shutdown_periods_to.label }}</label>
                                        {% render_field filter_form.shutdown_periods_to class="form-control" %}
                                      </div>
                                      <button type="submit" class="btn btn-primary"><i class="fa fa-filter"></i> Фильтр</button>
                                  <a href="{% url 'apps:alarm_log:shutdown_list'%}"
                                     class="btn btn-warning">
                                      <i class="fa fa-undo"></i> Сбросить фильтр</a>
                              </div>
                          </form>
                      </div>
                  </div>
            </div>
            </table>
        </div>
    </div>
</div>
{% endblock %}