{% extends 'alarm_log/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<h1 class="h3 mb-2 text-gray-800">Создание заявки</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-info">
                    <form method="post">{% csrf_token %}
                        <div class="box-body">
                            <div class="form-group">
                                <label>{{ form.type_statement.label }}</label>
                                {% render_field form.type_statement class="form-control" %}
                                <label>{{ form.address.label }}</label>
                                {% render_field form.address class="form-control" %}
                                <label>{{ form.first_name.label }}</label>
                                {% render_field form.first_name class="form-control" %}
                                <label>{{ form.last_name.label }}</label>
                                {% render_field form.last_name class="form-control" %}
                                <label>{{ form.telephone_number.label }}</label>
                                {% render_field form.telephone_number class="form-control" %}
                                <label>{{ form.home_phone.label }}</label>
                                {% render_field form.home_phone class="form-control" %}
                                <label>{{ form.description.label }}</label>
                                {% render_field form.description class="form-control" %}
                                <label>{{ form.type_of_statement.label }}</label>
                                {% render_field form.type_of_statement class="form-control" %}

                                <label>{{ form.date_from.label }}</label>
                                {% render_field form.date_from class="form-control" %}
                                <label>{{ form.date_to.label }}</label>
                                {% render_field form.date_to class="form-control" %}



                                <label>{{ form.specialist.label }}</label>
                                {% render_field form.specialist class="form-control" %}
                                <label>{{ form.status.label }}</label>
                                {% render_field form.status class="form-control" %}
                            </div>
                        </div>
                        <div class="box-footer clearfix">
                            <button type="submit" class="btn btn-success btn-lg pull-right">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}