{% extends 'management/base.html' %}
{% block content %}
{% load widget_tweaks %}

  <!-- Page Heading -->

 <h1 class="h3 mb-2 text-gray-800">Список каналов обьекта {{ object.name }}

</h1>

<!-- DataTales Example -->


<div class="table-responsive">
  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Номер канала</th>
            <th>Обьект</th>
            <th>Название</th>
            <th>Категория</th>
            <th>Номер аренды</th>
            <th>Дата аренды</th>
            <th>Скорость</th>
            <th>Меры</th>
            <th>Трасса</th>
            <th>ИП от</th>
            <th>ИП до</th>
            <th>Арендатор</th>
            <th></th>
            <th>Форма 5.3.</th>


        </tr>
     </thead>
      <tbody>
          {% for circuit in circuits %}
              <tr>
                  <td>{{circuit.num_circuit}}</td>
                  <td>{{circuit.id_object.name}}</td>
                  <td>{{circuit.name}}</td>
                  <td>{{circuit.category}}</td>
                  <td>{{circuit.num_order}}</td>
                  <td>{{circuit.date_order}}</td>
                  <td>{{circuit.speed}}</td>
                  <td>{{circuit.measure}}</td>
                  <td>
                      {% for cir in circuit.transit.all %}
                            ({{cir.point1}})
                            {{cir.name}}
                            ({{cir.point2}})
					  {% endfor %}
                      {% for cir in circuit.transit2.all %}
                            ({{cir.point1}})
                            {{cir.name}}
                            ({{cir.point2}})
                      {% endfor %}
                  </td>
                  <td>{{circuit.point1}}</td>
                  <td>{{circuit.point2}}</td>
                  <td>{{circuit.customer}}</td>
                  <td><button class="btn"><a href="{% url 'apps:opu:management:circuits_edit' circuit.id %}"><i class="fa fa-edit"></i></a>
                </button>
                  </td>
                  <td><a href="{% url 'apps:opu:form53:form53_create' circuit.id %}">Создать Форму 5.3</a></td>

              </tr>

          {% endfor %}
      </tbody>

  </table>
</div>
{% endblock %}