{% extends 'management/base.html' %}
{% load widget_tweaks %}
{% block content %}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Форма 5.1 </h1>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-info">
                    <form method="POST">{% csrf_token %}
                        <div class="box-body">
                            <div class="form-group">
                                <label>{{ form.direction.label }}</label>
                                {% render_field form.direction class="form-control" %}
                                <label>{{ form.amount_inst_channels.label }}</label>
                                {% render_field form.amount_inst_channels class="form-control" %}
                                <label>{{ form.amount_inv_channels.label }}</label>
                                {% render_field form.amount_inv_channels class="form-control" %}
                                <label>{{ form.year.label }}</label>
                                {% render_field form.year class="form-control" %}
                                <label>{{ form.reserve.label }}</label>
                                {% render_field form.reserve class="form-control" %}
                                <label>{{ form.region.label }}</label>
                                {% render_field form.region class="form-control" %}
                                <label>{{ form.order.label }}</label>
                                {% render_field form.order class="form-control" %}
                                <label>{{ form.customer.label }}</label>
                                {% render_field form.customer class="form-control" %}
                                <label>{{ form.category.label }}</label>
                                {% render_field form.category class="form-control" %}
                            </div>
                        </div>
                        <div class="box-footer clearfix">
                            <button type="submit" class="btn btn-success btn-lg pull-right">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}