{% extends 'management/base.html' %}
{% block content %}
{% load widget_tweaks %}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Список предприятий</h1>

<div class="table-responsive">
  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
      <tr>
          <th>Название</th>
      </tr>
    </thead>
    <tbody>
        {% for customer in customers %}
            <tr>
                <td style="text-align: center"><a href="{% url 'apps:opu:form_customer:menu_form_cust' customer.id %}" >{{customer.abr}}</a></td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
