{% extends 'management/base.html' %}
{% block content %}


<div class="container-fluid">

	<!-- Page Heading -->
	<h1 class="h3 mb-2 text-gray-800">
		{{customer.abr}}
	</h1>

	<!-- DataTales Example -->
	<div class="card shadow mb-4">
		Контактные данные: {{ customer.contact_name }} <br>
		{{customer.address}}
		<br>
		{{customer.email}}
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
                            <th>№</th>
							<th>ИП от -  ИП до</th>
							<th>Обозначение и трасса потоков(каналов)</th>
							<th>Количество потоков</th>
							<th>Сигнализация</th>
							<th>Вид использования</th>
							<th>№ Распоряжение</th>
                            <th>Скачать распоряжение</th>
							<th>Примечание</th>
                            <th></th>
                            <th></th>
						</tr>
					</thead>
					<tbody>
						{% for f in form_cust %}
						<tr>
                            <td>{{ f.id }}</td>
							<td>
								{% if f.circuit != None %}
									{{ f.circuit.point1.point }} - {{ f.circuit.point2.point }}
									{{ f.circuit.point1.name }} - {{ f.circuit.point2.name }}
								{% else %}
									{{ f.object.point1.point }} - {{ f.object.point2.point }}
									{{ f.object.point1.name }} - {{ f.object.point2.name }}
								{% endif %}

							</td>
							<td>
								{% if f.circuit != None %}
									{% for i in f.circuit.transit.all %}
										({{i.point1}})
										{{i.name}}
										({{i.point2}})
									{% endfor %}
									{% for i in f.circuit.transit2.all %}
										({{i.point1}})
										{{i.name}}
										({{i.point2}})
									{% endfor %}
								{% else %}
									{% for i in f.object.transit.all %}
										({{i.point1}})
										{{i.name}}
										({{i.point2}})
									{% endfor %}
									{% for i in f.object.transit2.all %}
										({{i.point1}})
										{{i.name}}
										({{i.point2}})
									{% endfor %}
								{% endif %}

							</td>
							<td>{{ f.amount_flow }}</td>
							<td>{{ f.signalization.name }}</td>
							<td>{{ f.type_of_using }}</td>
                            <td>{{ f.num_order }}</td>
							<td>{{ f.order }}</td>
							<td>{{ f.comments }}</td>
                            <td><a href="{% url 'apps:opu:form_customer:form_cust_edit' f.id %}"><i class="fa fa-edit"></i></a></td>
							<td><a href="{% url 'apps:opu:form_customer:form_cust_delete' f.id %}"><i class="fa fa-trash"></i></a></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}
