{% extends 'management/base.html' %}
{% load widget_tweaks %}

{% block content %}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Список каналов  {{customer.abr}} </h1>
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
              <th>№</th>
              <th>Обьект</th>
              <th>Название</th>
              <th>ИП от -  ИП до</th>
			  <th>Обозначение и трасса потоков(каналов)</th>
              <th></th>


          </tr>
        </thead>
        <tbody>
            {% for c in circuits %}
              <tr>
                  <td>{{c.id}}</td>
                <td>{{c.id_object.name}}</td>
                <td>{{c.name}}</td>
                <td>{{ c.point1.point }} - {{ c.point2.point }}
                    {{ c.point1.name }} - {{ c.point2.name }}</td>
                <td>
								{% for i in c.transit.all %}
									({{i.point1}})
                              		{{i.name}}
                              		({{i.point2}})
								{% endfor %}
								{% for i in c.transit2.all %}
									({{i.point1}})
                              		{{i.name}}
                              		({{i.point2}})
								{% endfor %}
							</td>
                <td><a href="{% url 'apps:opu:form_customer:filter_form_cust_create' c.id %}">Создать форму для арендатора</a></td>
              </tr>
             {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}