{% extends 'management/base.html' %}
{% load widget_tweaks %}

{% block content %}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Создание Формы 5.1</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-info">
                    <form method="post">{% csrf_token %}
                        <div class="box-body">
                            <div class="form-group">
                                <label>{{ form.object.label }}</label>
                                {% render_field form.object class="form-control" %}
                                <label>{{ form.trassa.label }}</label>
                                {% render_field form.trassa class="form-control" %}
                                <label>{{ form.point1.label }}</label>
                                {% render_field form.point1 class="form-control" %}
                                <label>{{ form.point2.label }}</label>
                                {% render_field form.point2 class="form-control" %}
                                <label>{{ form.type_line.label }}</label>
                                {% render_field form.type_line class="form-control" %}
                                <label>{{ form.num.label }}</label>
                                {% render_field form.num class="form-control" %}
                                <label>{{ form.direction.label }}</label>
                                {% render_field form.direction class="form-control" %}
                                <label>{{ form.customer.label }}</label>
                                {% render_field form.customer class="form-control" %}

                                <label>{{ form.amount_inst_channels.label }}</label>
                                {% render_field form.amount_inst_channels class="form-control" %}
                                <label>{{ form.amount_inv_channels.label }}</label>
                                {% render_field form.amount_inv_channels class="form-control" %}
                                <label>{{ form.year.label }}</label>
                                {% render_field form.year class="form-control" %}
                                <label>{{ form.order.label }}</label>
                                {% render_field form.order class="form-control" %}
                                <label>{{ form.schema.label }}</label>
                                {% render_field form.schema class="form-control" %}
                                <label>{{ form.reserve.label }}</label>
                                {% render_field form.reserve class="form-control" %}

                            </div>
                        </div>
                        <div class="box-footer clearfix">
                            <button type="submit" class="btn btn-success btn-lg pull-right">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}