{% extends 'management/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<div class="row">
        <div class="col-md-2">
            <a href="{% url 'apps:management:location_list' location.region.slug %}"
               class="btn btn-flat btn-primary btn-block">
                {{ location.name }}
            </a>
        </div>
    <br>
    <a href="{% url 'apps:management:form51_create' location.id %}" class="btn btn-default btn-flat btn-block">
          <button type="submit" class="btn btn-primary">Добавить</button>
    </a>

    <a href="?csv&{{ request.GET.urlencode }}" class="btn btn-danger btn-flat btn-block">
    Импортировать в Excel
    </a>


    <br>
</div>
<div class="card-body">
  <div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <thead>
        <tr>
            <th>ID</th>
            <th>ЛП</th>
            <th>Трасса</th>
            <th>ИП от</th>
            <th>ИП до</th>
            <th>Тип линии</th>
            <th>№ лямды</th>
            <th>Напраление основного пути</th>
            <th>Потребитель</th>
            <th>Монтированные каналы</th>
            <th>Задейтвованные каналы</th>
            <th>Наличие резерва</th>
            <th>Год ввода</th>
            <th></th>
            <th></th>
        </tr>
      </thead>
      <tbody>
           {% for form in forms %}
              <tr>
                  <td><a href="">{{form.id}}</a></td>
                  <td>{{form.object.name}}</td>
                  <td>{{form.trassa}}</td>
                  <td>{{form.point1}}</td>
                  <td>{{form.point2}}</td>
                  <td>{{form.type_line}}</td>
                  <td>{{form.num}}</td>
                  <td>{{form.direction}}</td>
                  <td>{{form.customer}}</td>
                  <td>{{form.amount_inst_channels}}</td>
                  <td>{{form.amount_inv_channels}}</td>
                  <td>{{form.reserve}}</td>
                  <td><button class="btn"><a href="{% url 'apps:management:form51_edit' location.id form.id %}"><i class="fa fa-edit"></i></a>
                </button></td>
                  <td><button class="btn"> <a href="{% url 'apps:management:form51_delete' form.id %}"><i class="fa fa-trash"></i></a></button></td>
              </tr>
           {% endfor %}
      </tbody>
    </table>
      <br>
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <div class="row" style="width: 400px;">
          <div class="col-md-12">
              <div class="box" >
                  <div class="box-header with-border">
                      <h3 class="box-title">Фильтр</h3>
                  </div>
                <form class="form-inline">
                  <div class="box-body">
                     <div class="form-group">
                        <label>{{ filter_form.trassa.label }}</label>
                        {% render_field filter_form.trassa class="form-control" %}
                     </div>
                      <div class="form-group">
                        <label>{{ filter_form.num.label }}</label>
                        {% render_field filter_form.num class="form-control" %}
                      </div>
                      <div class="form-group">
                        <label>{{ filter_form.direction.label }}</label>
                        {% render_field filter_form.direction class="form-control" %}
                      </div>
                      <div class="form-group">
                        <label>{{ filter_form.customer.label }}</label>
                        {% render_field filter_form.customer class="form-control" %}
                      </div>
                      <div class="form-group">
                        <label>{{ filter_form.object.label }}</label>
                        {% render_field filter_form.object class="form-control" %}
                      </div>
                      <div class="form-group">
                        <label>{{ filter_form.amount_inst_channels.label }}</label>
                        {% render_field filter_form.amount_inst_channels class="form-control" %}
                      </div>
                      <div class="form-group">
                        <label>{{ filter_form.amount_inv_channels.label }}</label>
                        {% render_field filter_form.amount_inv_channels class="form-control" %}
                      </div>
                      <div class="form-group">
                        <label>{{ filter_form.reserve.label }}</label>
                        {% render_field filter_form.reserve class="form-control" %}
                      </div>
                      <br>
                      <button type="submit" class="btn btn-primary"><i class="fa fa-filter"></i> Фильтр</button>
                      <a href="{% url 'apps:management:form51' location.id %}" class="btn btn-warning"><i class="fa fa-undo"></i> Сбросить фильтр</a>
                  </div>
                 </form>
             </div>
        </div>
      </div>
    </table>
  </div>
</div>
{% endblock %}
