{% extends 'management/base.html' %}
{% block content %}
{% load widget_tweaks %}
<!-- Page Heading -->

<div class="col-md-2">
    <a href="{% url 'apps:opu:management:region_list' %}"
       class="btn btn-flat btn-primary btn-block">
        Категории {{ region.name }}
    </a>
</div>
<div class="table-responsive">
  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
      <tr>
          <th>Название</th>
      </tr>
    </thead>
    <tbody>
        {% for location in locations %}
            <tr>
                <td><a href="{% url 'apps:opu:management:form51' location.id %}">{{location.name}}</a></td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
