{% extends 'management/base.html' %}
{% load widget_tweaks %}
{% block content %}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Создание линии передачи</h1>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-info">
                    <form method="post">
                        {% csrf_token %}
                        <div class="box-body">
                            <div class="form-group">
                                <label>{{ form.name.label }}</label>
                                {% render_field form.name class="form-control" %}
                                <label>{{ form.id_outfit.label }}</label>
                                {% render_field form.id_outfit class="form-control" %}
                                <label>{{ form.tpo1.label }}</label>
                                {% render_field form.tpo1 class="form-control" %}
                                <label>{{ form.point1.label }}</label>
                                {% render_field form.point1 class="form-control" %}
                                <label>{{ form.tpo2.label }}</label>
                                {% render_field form.tpo2 class="form-control" %}
                                <label>{{ form.point2.label }}</label>
                                {% render_field form.point2 class="form-control" %}
                                <label>{{ form.trakt_line.label }}</label>
                                {% render_field form.trakt_line class="form-control" %}
                                <label>{{ form.type_line.label }}</label>
                                {% render_field form.type_line class="form-control" %}
                            </div>
                        </div>
                        <div class="box-footer clearfix">
                            <button type="submit" class="btn btn-success btn-lg pull-right">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

