{% extends 'management/base.html' %}
{% load widget_tweaks %}

{% block content %}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Список Предприятий</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">

  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
              <th>Название</th>
              <th>Аббревиатура</th>
              <th>Номер</th>
              <th>ТПО</th>
              <th>Вид принадлежности</th>

          </tr>
        </thead>
        <tbody>
            {% for outfit in outfits %}
              <tr>
                <td>{{outfit.outfit}}</td>
                <td>{{outfit.adding}}</td>
                <td>{{outfit.num}}</td>
                <td>{{outfit.tpo.index}}</td>
                <td>{{outfit.type_outfit}}</td>
              </tr>
             {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
