{% extends 'management/base.html' %}
{% load widget_tweaks %}

{% block content %}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Список ИПов</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
              <th>ИП</th>
              <th>Название</th>
              <th>ТПО</th>
              <th>Предприятие</th>
          </tr>
        </thead>
        <tbody>
            {% for point in points %}
              <tr>
                <td>{{point.point}}</td>
                <td>{{point.name}}</td>
                <td>{{point.tpo.index}}</td>
                <td>{{point.id_outfit.outfit}}</td>
              </tr>
             {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}