{% extends 'management/base.html' %}
{% block content %}
{% load widget_tweaks %}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Список сохраненных трасс </h1>
<div class="table-responsive">
  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
      <tr>
          <th>Название</th>
      </tr>
    </thead>
    <tbody>
        {% for region in regions %}
            <tr>
                <td><a href="{% url 'apps:opu:management:location_list' region.slug %}">{{region.name}}</a></td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
