{% extends 'management/base.html' %}

{% block content %}

<div style="text-align: center; margin-right: 85%; ">
	<h2>Ип от</h2>
	<h3>{{ obj.point1 }}</h3>
		<span class="custom-dropdown big">
			<h5>Выберите ЛП</h5>
			<select  onChange="window.location.href=this.value">
				<option></option>
			  {% for lp in lps_ot %}
			  	<option value="{% url 'apps:management:select_obj' obj.id lp.id %}">{{lp.point1}} {{lp.name}} {{lp.point2}}</option>
			  {% endfor %}
			</select>
		</span>
</div>

<div style="text-align: center; margin-left: 85%; margin-top: 0%;">
	<h2>Ип до</h1>
	<h3>{{ obj.point2 }}</h3>
	<span class="custom-dropdown big">
		<h5>Выберите ЛП</h5>
		<select onChange="window.location.href=this.value">
			<option></option>
		  {% for lp in lps_do %}
		  	<option value="{% url 'apps:management:select_obj' obj.id lp.id %}">{{lp.point1}} {{lp.name}} {{lp.point2}}</option>
		  {% endfor %}
		</select>
	</span>
</div>
<div style="width: 30%; text-align: center; margin-left: 35%; margin-top: 0%;">
	<h1>Трасса</h1>
	<table class="table table-bordered" cellspacing="0">
		<thead>
			<tr>
				<td>Ип от</td>
				<td>Название</td>
				<td>Ип до</td>
			</tr>
		</thead>
		<tbody>
			{% for lp in trassa_list1 %}
				<tr>
					<td>{{ lp.point1 }}</td>
					<td>{{ lp.name }}</td>
					<td>{{ lp.point2 }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %} 