{% extends 'management/base.html' %}
{% load widget_tweaks %}

{% block content %}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Список ТПО</h1>
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
              <th>Название</th>
              <th>Индекс</th>
          </tr>
        </thead>
        <tbody>
            {% for tpo in tpos %}
              <tr>
                <td>{{tpo.name}}</td>
                <td>{{tpo.index}}</td>
              </tr>
             {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}