{% extends 'management/base.html' %}
{% block content %}
{% load widget_tweaks %}

  <!-- Page Heading -->
{% if obj.trakt == True %}
<h1 class="h3 mb-2 text-gray-800">Список трактов
      <a href="{% url 'apps:opu:management:lp'%}"> ({{ parent.name}}), </a>
</h1>
{% else %}
 <h1 class="h3 mb-2 text-gray-800">Список {{ obj.type_of_trakt }}
      <a href="{% url 'apps:opu:management:trakt' parent.id%}"> ({{ parent.name}}), </a>
</h1>
{% endif %}
<!-- DataTales Example -->

<div class="box-footer clearfix" style="padding-bottom: 20px; ">
{% if obj.trakt == True %}
  <a href="{% url 'apps:opu:management:trakt_create' parent.id %}" class="btn btn-default btn-flat btn-block">
      <button type="submit" class="btn btn-primary">Добавить Тракт</button>
  </a>
{% else %}
  <a href="{% url 'apps:opu:management:trakt_create' parent.id %}" class="btn btn-default btn-flat btn-block">
      <button type="submit" class="btn btn-primary">Добавить {{obj.type_of_trakt }}</button>
  </a>
{% endif %}

</div>

<div class="table-responsive">
  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Название</th>
            <th>ТПО №1</th>
            <th>ИП от</th>
            <th>ТПО №1</th>
            <th>ИП до</th>
            <th>Тип тракта</th>
            <th>Количество каналов</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>

        </tr>
     </thead>
      <tbody>
          {% for trakt in trakts %}
              <tr>
                  <td><a href="{% url 'apps:opu:management:trakt' trakt.id %}">{{trakt.name}}</a></td>
                  <td>{{trakt.tpo1.index}}</td>
                  <td>{{trakt.point1.point}}</td>
                  <td>{{trakt.tpo2.index}}</td>
                  <td>{{trakt.point2.point}}</td>
                  <td>{{trakt.type_of_trakt}}</td>
                  <td>{{trakt.amount_channels}}</td>
                  <td><button class="btn"><a href="{% url 'apps:opu:management:trakt_edit' trakt.id %}"><i class="fa fa-edit"></i></a>
                </button>
                  </td>
                  <td><button class="btn"> <a href="{% url 'apps:opu:management:trakt_delete' trakt.id %}"><i class="fa fa-trash"></i></a></button></td>
                  <td><button class="btn"> <a href="{% url 'apps:opu:management:circuits_list' trakt.id %}"><i class="fa fa-bullseye"></i></a></button></td>
                  <td><button class="btn"> <a href="{% url 'apps:opu:management:select_obj' trakt.id %}"><span class="glyphicon glyphicon-plus">Создать трассу</span></td>

              </tr>

          {% endfor %}
      </tbody>
        <div class="row" style="width: 400px;">
          <div class="col-md-12">
              <div class="box" >
                  <div class="box-header with-border">
                      <h3 class="box-title">Фильтр</h3>
                  </div>
                  <form class="form-inline">
                      <div class="box-body">
                          <div class="form-group">
                            <label>{{ filter_form.name.label }}</label>
                            {% render_field filter_form.name class="form-control" %}
                          </div>
                          <div class="form-group">
                            <label>{{ filter_form.tpo1.label }}</label>
                            {% render_field filter_form.tpo1 class="form-control" %}
                          </div>
                          <div class="form-group">
                            <label>{{ filter_form.tpo2.label }}</label>
                            {% render_field filter_form.tpo2 class="form-control" %}
                          </div>
                          <div class="form-group">
                            <label>{{ filter_form.point1.label }}</label>
                            {% render_field filter_form.point1 class="form-control" %}
                          </div>
                          <div class="form-group">
                            <label>{{ filter_form.point2.label }}</label>
                            {% render_field filter_form.point2 class="form-control" %}
                          </div>
                          <div class="form-group">
                            <label>{{ filter_form.type_of_trakt.label }}</label>
                            {% render_field filter_form.type_of_trakt class="form-control" %}
                          </div>
                          <div class="form-group">
                            <label>{{ filter_form.amount_channels.label }}</label>
                            {% render_field filter_form.amount_channels class="form-control" %}
                          </div>

                          <button type="submit" class="btn btn-primary"><i class="fa fa-filter"></i> Фильтр</button>
                          <a href="{% url 'apps:opu:management:trakt' parent.id %}"
                             class="btn btn-warning">
                              <i class="fa fa-undo"></i> Сбросить фильтр
                          </a>
                      </div>
                  </form>
              </div>
          </div>
        </div>
  </table>
</div>
{% endblock %}