{% extends 'management/base.html' %}
{% block content %}


<div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Список сохраненных трасс</h1>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">

            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                        <th>Объект</th>
                        <th>Трасса</th>
                        <th>Создан</th>
                        <th>Дата</th>
                        <th>Форма 5.1</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for trassa in trassa_list %}
                        <tr>
                          <td>
                            <a href="{% url 'apps:management:select_obj' trassa.id %}">{{trassa.name}}</a>
                          </td>
                          <td>
                            {% for obj in trassa.transit.all %}
                              ({{obj.point1}})
                              {{obj.name}}
                              ({{obj.point2}})
                            {% endfor %}
                            {% for obj in trassa.transit2.all %}
                              ({{obj.point1}})
                              {{obj.name}}
                              ({{obj.point2}})
                            {% endfor %}
                          </td>
                          <td>{{trassa.maker_trassa}}</td>
                          <td>{{trassa.add_time}}</td>
                          <td>
                            <a href="{% url 'apps:forma51_v2:create_form51' trassa.id %}">Создать Form5.1</a>
                          </td>
                        </tr>
                      {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>



{% endblock %}

