{% extends 'management/base.html' %}

{% block content %}
<button type="submit" class="btn btn-primary btn-default btn-flat btn-block">
  {% for lp in trassa_list1 %}
    ({{ lp.point1 }})
    {{ lp.name }}
    ({{ lp.point2 }})
  {% endfor  %}
  {% for lp in trassa_list2 %}
    ({{ lp.point1 }})
    {{ lp.name }}
    ({{ lp.point2 }})
  {% endfor  %}
</button>
<h1></h1>
<table class="table table-bordered" style="text-align: center;">
  <thead>
    <tr>
      <th>
        <h2>ИП от</h2>
        <h3>{{ obj.point1 }}</h3>
      </th>
      <th>
        <h2>Трасса</h2>
      </th>
      <th>
        <h2>ИП до</h2>
        <h3>{{ obj.point2 }}</h3>
      </th>
  </thead>
  <tbody>
    <tr>
      <td>
        <table class="table table-bordered" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>ИП от</th>
              <th>Название</th>
              <th>ИП до</th>
            </tr>
          </thead>
          <tbody>
            {% for lp in ip_ot %}
              <tr>
                <td>{{lp.point1}}</td>
                <td><a href="{% url 'apps:opu:management:left_trassa' obj.pk lp.pk %}">{{lp.name}}</a></td>
                <td>{{lp.point2}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </td>
      <td>
        <table class="table table-bordered" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>ИП от</th>
              <th>Название</th>
              <th>ИП до</th>
            </tr>
          </thead>
          <tbody>
            {% for lp in trassa_list1 %}
            <tr>
                <td>{{lp.point1}}</td>
                <td><a href="{% url 'apps:opu:management:left_trassa' obj.pk lp.pk %}">{{lp.name}}</a></td>
                <td>{{lp.point2}}</td>
            </tr>
            {% endfor %}
            {% for lp in trassa_list2 %}
            <tr>
                <td>{{lp.point1}}</td>
                <td><a href="{% url 'apps:opu:management:right_trassa' obj.pk lp.pk %}">{{lp.name}}</a></td>
                <td>{{lp.point2}}</td>
            </tr>
            {% endfor %}
            </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table class="table table-bordered" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>ИП от</th>
              <th>Название</th>
              <th>ИП до</th>
            </tr>
          </thead>
          <tbody>
            {% for lp in ip_do %}
              <tr>
                <td>{{lp.point1}}</td>
                <td><a href="{% url 'apps:opu:management:right_trassa' obj.pk lp.pk %}">{{lp.name}}</a></td>
                <td>{{lp.point2}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </td>
    </tr>
    </tr>
  </tbody>
</table>

<a href="{% url 'apps:opu:management:save_trassa' obj.id %}" class="btn btn-default btn-flat btn-block">
    <button type="submit" class="btn btn-primary">Сохранить трассу</button>
</a>

{% endblock %}

<!-- <table class="table table-bordered" >
  <thead>
    <tr>
      <th>
        <h2>ИП от</h2>
        <h3>{{ obj.point1 }}</h3>
        <table class="table table-bordered" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>ИП от</th>
              <th>Название</th>
              <th>ИП до</th>
            </tr>
          </thead>
          <tbody>
            {% for lp in ip_ot %}
              <tr>
                <td>{{lp.point1}}</td>
                <td><a href="{% url 'apps:management:left_trassa' obj.pk lp.pk %}">{{lp.name}}</a></td>
                <td>{{lp.point2}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </th>

      <th>
        <h2>Трасса</h2>
        <h3></h3>
        <table class="table table-bordered" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>ИП от</th>
              <th>Название</th>
              <th>ИП до</th>
            </tr>
          </thead>
          <tbody>
            {% for lp in trassa_list1 %}
            <tr>
                <td>{{lp.point1}}</td>
                <td><a href="{% url 'apps:management:left_trassa' obj.pk lp.pk %}">{{lp.name}}</a></td>
                <td>{{lp.point2}}</td>
            </tr>
            {% endfor %}
            {% for lp in trassa_list2 %}
            <tr>
                <td>{{lp.point1}}</td>
                <td><a href="{% url 'apps:management:right_trassa' obj.pk lp.pk %}">{{lp.name}}</a></td>
                <td>{{lp.point2}}</td>
            </tr>
            {% endfor %}
            </tr>
          </tbody>
        </table>
      </th>
      <th>
        <h2>ИП до</h2>
        <h3>{{ obj.point2 }}</h3>
        <table class="table table-bordered" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>ИП от</th>
              <th>Название</th>
              <th>ИП до</th>
            </tr>
          </thead>
          <tbody>
            {% for lp in ip_do %}
              <tr>
                <td>{{lp.point1}}</td>
                <td><a href="{% url 'apps:management:right_trassa' obj.pk lp.pk %}">{{lp.name}}</a></td>
                <td>{{lp.point2}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </th>
  </thead>
</table> -->