{% extends 'management/base.html' %}

{% block content %}
<h1></h1>

<div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Список сохраненных трасс</h1>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">

            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                        <th>Дата</th>
                        <th>Название трассы</th>
                        <th>Создан</th>
                    </tr>
                  </thead>
                  <tbody>

                        <tr>
                          <td>{{trassa_saved.created_at}}</td>
                          <td>{{trassa_saved.name}}</td>
                          <td>{{trassa_saved.created_by}}</td>
                        </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>

</div>
        <!-- /.container-fluid -->
{% endblock %}


