{% extends 'dispatching/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Детали события № {{event.id}}</a></h1>

<!-- DataTales Example -->


<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" style="width: 1500px" width="100%" cellspacing="0">
              <thead>
                <tr>
                    <th>№</th>
                    <th>Обьект</th>
                    <th>Время события</th>
                    <th>Время сообщения</th>
                    <th>Индекс</th>
                    <th>Причина</th>
                    <th>Комментарий</th>
                    <th>Ответственный</th>
                    <th>Передал</th>
                    <th>Фио передающего</th>
                    <th>Участок</th>
                    <th>Диспетчер</th>
                    <th>Конец</th>
                    <th></th>

                </tr>
              </thead>
              <tbody>

                      <tr>
                          <td>{{event.id}}</td>
                          {% if event.choice.id == 1 %}
                            <td>{{event.ips.object_id.name}}</td>
                          {% elif event.choice.id == 2 %}
                            <td>{{event.object.name}}</td>
                          {% elif event.choice.id == 3 %}
                            <td>{{event.circuit.name}}</td>
                          {% endif %}
                          <td>{{event.created_at}}</td>
                          <td>{{event.date_from}}</td>
                          <td>{{event.index.index }}</td>
                          <td>{{event.reason.name}}</td>
                          <td>{{event.comments}}</td>
                          <td>{{event.responsible_outfit.adding}}</td>
                          <td>{{event.send_from.adding}}</td>
                          <td>{{event.contact_name}}</td>
                          <td>
								{% if event.circuit != None %}
									{{ event.circuit.point1.point }} - {{ event.circuit.point2.point }}
									{{ event.circuit.point1.name }} - {{ event.circuit.point2.name }}
								{% elif event.object != None %}
									{{ event.object.point1.point }} - {{ event.object.point2.point }}
									{{ event.object.point1.name }} - {{ event.object.point2.name }}
                                {% elif event.ips != None %}
									{{ event.ips.point_id.point }} - {{ event.ips.point_id.point }}
									{{ event.ips.point_id.name }} - {{ event.ips.point_id.name }}
								{% endif %}

							</td>
                          <td>{{event.created_by}}</td>
                          <td>{{event.date_to}}</td>

                        <td><button class="btn"> <a href="{% url 'apps:dispatching:event_edit' event.id %}"><i class="fa fa-edit"></i></a>
                                        </button>
                          </td>
                      </tr>

              </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}


