{% extends 'dispatching/base.html' %}

{% load widget_tweaks %}

{% block content %}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Создание события</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-info">
                    <form method="POST"  class="post-form">{% csrf_token %}
<!--                        {{ form.as_p }}-->
                        <div class="box-body">
                            <div class="form-group">
                                <label>{{ form.type_journal.label }}</label>
                                {% render_field form.type_journal class="form-control" %}
                                <label>{{ form.date_from.label }}</label>
                                {% render_field form.date_from class="form-control" %}
                                <label>{{ form.date_to.label }}</label>
                                {% render_field form.date_to class="form-control" %}
                                <label>{{ form.contact_name.label }}</label>
                                {% render_field form.contact_name class="form-control" %}
                                <label>{{ form.reason.label }}</label>
                                {% render_field form.reason class="form-control" %}
                                <label>{{ form.index.label }}</label>
                                {% render_field form.index class="form-control" %}

                                <label>{{ form.comments.label }}</label>
                                {% render_field form.comments class="form-control" %}
                                <label>{{ form.responsible_outfit.label }}</label>
                                {% render_field form.responsible_outfit class="form-control" %}
                                <label>{{ form.send_from.label }}</label>
                                {% render_field form.send_from class="form-control" %}
                                {% if choice.id == 1 %}
                                    <label>{{ form.ips.label }}</label>
                                    {% render_field form.ips class="form-control" %}
                                {% elif choice.id == 2 %}
                                    <label>{{ form.object.label }}</label>
                                    {% render_field form.object class="form-control" %}
                                {% elif choice.id == 3 %}
                                    <label>{{ form.circuit.label }}</label>
                                    {% render_field form.circuit class="form-control" %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="box-footer clearfix">
                            <button type="submit" class="btn btn-success btn-lg pull-right">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}