{% extends 'dispatching/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Журнал заявок</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="row">
            <div class="container">
              <div class="row">
                  {% for status in status_list %}
                <div class="col" >
                 <button class="btn" style="background-color: #17a673;  height: 90px; font-size: 20px; color: #f8f9fc; text-align: center">
                     <a href="{% url 'apps:dispatching:list_of_filtered' status.pk %}"><i class="fas fa-flag-checkered"></i>{{ status.name }} ({{ status.request_set.count }})</a>
                 </button>
                </div>
                  {% endfor %}
              </div>
            </div>
        </div>
    </div>
</div>
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="row">
            <div class="container">
              <div class="row">
                <div class="col-sm"><button class="btn"><a href="{% url 'apps:dispatching:request_create' %}"><i class="fas fa-plus-square"></i>
                  Создать новую заявку</a>
                 </button>
                </div>
                <div class="col-sm"><button class="btn"><a href=""><i class="far fa-file-excel"></i>
                  Экспорт в CSV</a>
                 </button>
                </div>
                <div class="col-sm"><button class="btn"><a href=""><i class="fas fa-search"></i>
                  Поиск заявки</a>
                 </button>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" style="width: 1500px" width="100%" cellspacing="0">
              <thead>
                <tr>
                    <th>№ Заявки</th>
                    <th>От кого</th>
                    <th>Дата и время</th>
                    <th>Адрес заявителя</th>
                    <th>Вид заявки</th>
                    <th>Причина</th>
                    <th>Статус</th>
                    <th>Исполнитель</th>
                    <th></th>
                    <th></th>
                </tr>
              </thead>
              <tbody>
                  {% for requset in request_list %}
                      <tr>
                          <td>{{requset.id}}</td>
                          <td>{{requset.first_name}} {{r.last_name}}</td>
                          <td>{{requset.created_at}}</td>
                          <td>{{requset.address }}</td>
                          <td>{{requset.type_request}}</td>
                          <td>{{requset.description}}</td>
                          <td>{{requset.status.name}}</td>
                          <td>{{requset.created_by}}</td>
                        <td><button class="btn"><a href="{% url 'apps:dispatching:request_delete' requset.id %}"><i class="fa fa-trash"></i></a>
                        </button>
                        </td>
                        <td><button class="btn"> <a href="{% url 'apps:dispatching:request_edit' requset.id %}"><i class="fa fa-edit"></i></a>
                                        </button>
                          </td>
                      </tr>
                  {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}


