<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Отчет диспетчерской службы </title>
        <style>

        table {
          font-family: times new roman;
          border-collapse: collapse;
          width: 100%;
          word-wrap: break-word;
        }

        td, th {
          border: 1px solid #000000;
          text-align: left;
          padding: 5px;
        }

        tr {
            page-break-after: always;
            page-break-before: always;
            page-break-inside: avoid;
            }

        thead {
            display: table-row-group;
        }

        </style>

    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Начало</th>
                    <th>Конец</th>
                    <th>Участок</th>
                    <th>Индекс</th>
                    <th>Причина</th>
                    <th>Примечание</th>
                </tr>
            </thead>
            <tbody>
            {% for d in data %}
                <tr>
                    <td>
                       {% if d.color == 1 %}
                            <i>{{ d.name }} </i>
                        {% endif %}
                        {% if d.color == 2 %}
                            <mark>{{ d.name }} </mark>
                        {% endif %}
                        {% if d.color == 3 %}
                            <strong>{{ d.name }} </strong>
                        {% endif %}
                        {% if d.color == 4 %}
                            <strong>{{ d.name }} </strong>
                        {% endif %}
                    <td>{{ d.date_from|date:"SHORT_DATETIME_FORMAT" }}</td>
<!--                    <td>{{ d.date_to|time:"H:i" }} <br>-->
<!--                        {{d.date_to|date:"d-m-Y"}}</td>-->

                    <td>{{ d.date_to|date:"SHORT_DATETIME_FORMAT" }}</td>
                     <td>{{ d.region }}</td>
                    <td>{{ d.index1 }}</td>
                    <td>{{ d.reason }}  </td>
                    <td>{{ d.comments1 }}  </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>

    </body>
</html>